<?xml version="1.0" encoding="utf-8"?>
<settings>

    <category label="LED Control">

        <setting id="led_enabled"
                 type="bool"
                 label="Enable LEDs"
                 default="true" />

        <setting id="led_color_r" type="number" label="Red" default="255" />
        <setting id="led_color_g" type="number" label="Green" default="0" />
        <setting id="led_color_b" type="number" label="Blue" default="0" />

    </category>
    
</settings>
