<?xml version="1.0" encoding="utf-8"?>
<settings>
    <category label="General">
        <setting id="num_leds" type="number" label="Number of LEDs" default="30"/>
        <setting id="spi_bus" type="number" label="SPI Bus" default="0"/>
        <setting id="spi_device" type="number" label="SPI Device" default="0"/>
    </category>
</settings>
